<div class="panel">
  <form class="add-placemark-form" [formGroup]="form" (ngSubmit)="addPlacemark()">
    <app-input placeholder="Широта"  formControlName="lat"></app-input>
    <app-input placeholder="Долгота" formControlName="lon"></app-input>
    <app-input placeholder="Описание" formControlName="description"></app-input>
    <app-input placeholder="Цвет" formControlName="color"></app-input>
    <br>
    <button>Добавить метку</button>
  </form>
  <div class="descriptions">
    <app-placemark-description *ngFor="let p of mapService.placemarks$ | async"
                               [placemark]="p"
    ></app-placemark-description>

  </div>
</div>
<div #map class="map"></div>
